<section class="contenedor animate__animated animate__fadeIn">


  <div class="contenedor__general" [ngStyle]="{'height': !publication ? '100vh' : ''}">

    <div *ngIf="!publication" class="loader-div">
      <span class="loader"></span>
    </div>


    <div class="container__info">
      <div class="container__title">
        <h1 class="custon__title">{{publication?.name}}</h1>
      </div>

      <div class="container__img" *ngIf="publication">
        <img [src]="publication!.img" alt="img de la Aplicacion" />
      </div>

      <div class="container__publication" [innerHTML]="publication?.content"></div>
    </div>

    <div class="container__section" *ngIf="publications">

      <h3>Otras publicaciones</h3>

      <div class="section__publication" *ngFor="let public of publications | filterPublication">
        <div class="section__img">
          <img [src]="public.img" [alt]="public.name">
          <h5 (click)="redirectToPublication(public.name)" ><strong>{{public.name}}</strong></h5>
        </div>
      </div>
    </div>

  </div>
</section>

