
<section class="container__form animate__animated animate__fadeIn">

  <div class="bloqueado" *ngIf="!autenticated">
    <h1>solo para Uso del Admistrador</h1>
  </div>

  <div class="form__inputs">

    <h4 *ngIf="!project">Crear Nuevo Proyecto</h4>
    <h4 *ngIf="project">Editar Proyecto</h4>

    <form class="form" [formGroup]="projectsForm" (submit)="submit()">


      <div class="form__group">
        <label>Tipo del Proyecto</label>
        <div class="group__input">
          <select formControlName="type">
            <option value="">Tipo de Proyecto</option>
            <option [value]="type" *ngFor="let type of projectType">{{type}}</option>
          </select>
        </div>
      </div>

      <div class="form__alert" *ngIf="isValidField('type')">
        <span>Seleccione una opcion</span>
      </div>

      <div class="form__group">
        <label>Nombre del Proyecto</label>
        <div class="group__input">
          <input
            type="text"
            placeholder="Nombre del Proyecto"
            formControlName="name"
          />
        </div>
      </div>

      <div class="form__alert" *ngIf="isValidField('name')">
        <span>Debe contener al menos 4 caracteres</span>
      </div>

      <div class="form__group">
        <label>Url del Proyecto</label>
        <div class="group__input">
          <input
            type="text"
            placeholder="Url del Proyecto"
            formControlName="url"
          />
        </div>
      </div>

      <div class="form__alert" *ngIf="isValidField('url')">
        <span>Debe contener al menos 4 caracteres</span>
      </div>

      <div class="form__group">
        <label>Tecnologias Utilizadas</label>
        <div class="group__input">
          <select (change)="onTechnologiesChange($event)"
            formControlName="technologies">
            <option value="">Tecnologias Utilizadas</option>
            <option [value]="type" *ngFor="let type of ProjectTechnologies">{{type}}</option>
          </select>
        </div>
      </div>

      <div class="technologies" *ngIf="selectedTechnologies.length !== 0">
        <span class="selected" *ngFor="let item of selectedTechnologies">
          {{item}}</span>
      </div>

      <div class="form__alert" *ngIf="isValidField('technologies')">
        <span>Seleccione una opcion</span>
      </div>

      <div class="form__group--textarea">
        <label>Descripcion del Proyecto</label>
        <div class="group__input">
          <textarea
            rows="4" cols="12"
            placeholder="Descripcion del Proyecto"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div class="form__alert" *ngIf="isValidField('description')">
        <span>Debe contener al menos 4 caracteres</span>
      </div>

      <button
        [style.display]="!autenticated? 'none' : 'block'"
        *ngIf="!project"
        [disabled]="projectsForm.invalid"
        class="buttons__bottom submit"
        type="submit">Enviar</button>

      <button
        [style.display]="!autenticated? 'none' : 'block'"
        *ngIf="project"
        [disabled]="projectsForm.invalid"
        class="buttons__bottom submit"
        type="submit">Actualizar</button>
    </form>

  </div>

  <div class="img-form">

    <h4>Selecione una imagen</h4>

    <div class="form__imagen">
      <img
        *ngIf="!project?.img && !previewImage"
        src='https://res.cloudinary.com/dybfsyxq9/image/upload/v1686847866/no-image_zio7qg.jpg'  />

      <img
        *ngIf="project?.img"
        [src]="project.img" />

      <img
        *ngIf="previewImage"
        [src]="previewImage"  />
    </div>

    <div class="file-select" id="src-file1" >
      <input
        (change)="changeImage($any($event.target).files[0] )"
        type="file"
        name="src-file1"
        aria-label="Archivo">
    </div>


    <div class="buttons">
      <button class="buttons__bottom" (click)="sendImage()">Subir</button>
    </div>
  </div>


</section>



