
.contenedor{
  width: 100%;
  height: calc(1300px);
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 440px;
}

.container__sobremi{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__sobremi .letra-e{
  margin-right: 20px;
}

.container__sobremi h1{
  font-size: 7em;
  color: #f98a5b;
  transition: all .5s;
    border-bottom: 3px solid black;
}

.container__sobremi h1:hover{
 transform: scale(150%);
 -webkit-text-stroke: 1px  #f98a5b;
 text-stoke: 1px #f98a5b;
 color: white
}

.container__info{
  width: 100%;
  height: 80%;
  padding: 50px;
  display: flex;
}

.info__parrafos{
  width: 60%;
  height: 100%;
}

.info__parrafos p{
  font-size: 1.4em;
}

.info__parrafos p::first-letter {
  font-size: 1.5em;
  color: #f98a5b;
}

.container__skills{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.skills__titulo{
  width: 100%;
  height: 10%;
}
.skills__titulo h2{
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: #f98a5b;
}

.skills__baul{
  width: 80%;
  height: 70%;
  margin-left: 10%;
  background-image: url('../../../assets/img/baul.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.baul__items{
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #f98a5b;
  padding: 10px;
  background: white;
  transition: all .5s;
}

.baul__items:hover{
  background-color: #f98a5b;
  transform: scale(120%);
}

.baul__items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* angular */
.baul__items:nth-child(1){
  top: 150px;
  left: 90px;
}

/* docker */
.baul__items:nth-child(2){
  top: 300px;
  left: 300px;
}


/* react */
.baul__items:nth-child(3){
  top: 305px;
  left: 170px;
}

.baul__items:nth-child(3)::before{
  content: 'Cargando...';
  font-size: .8em;
  color: red;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 25px;
}


/* NGRX */
.baul__items:nth-child(4){
  top: 150px;
  left: 300px;
}

/* RXJS */
.baul__items:nth-child(5){
  top: 50px;
  left: 200px;
}

/* NEST */
.baul__items:nth-child(6){
  top: 200px;
  left: 400px;
}
/* NEST */
.baul__items:nth-child(7){
  top: 50px;
  left: 400px;
}

/* RXJS */
.baul__items:nth-child(8){
  top: 200px;
  left: 200px;
}

@media (max-width: 1350px){

  .baul__items{
    margin-left: 5px !important;
  }

}


