
<div class="contenedor  animate__animated animate__fadeIn">
  <div class="container__sobremi">
    <h1>S</h1> <h1>O</h1> <h1>B</h1> <h1>R</h1> <h1 class="letra-e">E</h1> <br> <h1>M</h1>  <h1>I</h1>
  </div>

  <div class="container__info">

    <div class="info__parrafos">

      <p>
        Me enorgullece decir que soy graduado de la Academia Técnica Militar de Venezuela con una licenciatura en Ciencias y Artes Militares, con mención en Informática. Esta formación no solo me brindó una base académica sólida, sino también habilidades de liderazgo, disciplina y determinación, que aplico en mi enfoque para abordar proyectos de desarrollo web.
      </p>

      <br>

      <p>
        Comencé mi viaje en el campo de las redes informáticas, donde adquirí valiosos conocimientos sobre la infraestructura tecnológica que sustenta nuestra vida digital. Mi tiempo en el campo de las redes me proporcionó una base sólida en la resolución de problemas y la comprensión de cómo funcionan los sistemas informáticos en conjunto.
      </p>
      <br>
      <p>
        Sin embargo, mi pasión por la creación y la innovación me llevó a explorar el emocionante ámbito del desarrollo web. Como autodidacta, me sumergí en el vasto universo del desarrollo web, explorando lenguajes, herramientas y tecnologías. Fue durante este proceso que me enamoré especialmente de Angular, una tecnología que me permitió combinar mi fascinación por la programación con mi deseo de crear experiencias digitales excepcionales.
      </p>
      <br>
      <p>
        Estoy emocionado por la evolución constante del mundo del desarrollo web y la forma en que la tecnología sigue transformando nuestra sociedad. Mi objetivo es seguir creciendo como profesional y mantenerme al tanto de las últimas tendencias y avances en el desarrollo web, brindando soluciones que impacten positivamente la vida de las personas.
      </p>
    </div>

    <div class="container__skills">
      <div class="skills__titulo">
        <h2>MIS HERRAMIENTAS DE TRABAJO</h2>
      </div>

      <div class="skills__baul">

        <span class="baul__items">
          <img src="../../../assets/img/angular.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/docker.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/react.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/redux.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/rxjs.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/nestjs.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/mongo.png"/>
        </span>

        <span class="baul__items">
          <img src="../../../assets/img/postgres.png"/>
        </span>

      </div>

    </div>

  </div>
</div>


