.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f98a5b;
}


.contenedor-form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 12px 12px 17px 2px rgba(0,0,0,0.75);
}
