<div class="contenedor animate__animated animate__fadeIn">

  <div class="container__info">
    <div class="info__text">
      <h4 class="text__h4">Hola, mi nombre es</h4>
      <h1 class="text__h1">Alberto Peña</h1>
      <h4 class="text__h4">Desarrollador web junior - Angular.
        <br>
        <br> Explora mi portafolio para ver cómo transformo conceptos en realidad utilizando las últimas técnicas de Angular</h4>

      <div class="info__buttons">
        <button class="buttons__bottom" (click)="navigateToContacts()">
          contactame
        </button>


          <a
            class="buttons__bottom---descargar"
            href="../../../assets/cv.pdf"
            target="_blank"
            download="Alberto-peña.pdf"
          >
            Descargar CV
          </a>
      </div>

    </div>


  </div>

  <div class="container__img">
    <div class="imagen"></div>
    <div class="img__background">
    </div>
  </div>

</div>


