<div class="contenedor animate__animated animate__fadeIn">


  <div class="contenedor__general" >

    <div class="general__banner">
      <h1><strong>Publicaciones</strong></h1>
    </div>

    <div *ngIf="publications.length === 0">
      <span class="loader"></span>
    </div>

    <section [ngStyle]="{'height': publications.length === 0 ? '100vh' : ''}">

      <div class="container__publication">
        <div class="publication__card" *ngFor="let publication of publications | reverse">
          <div class="publication__img">
            <img [src]="publication.img"/>
          </div>

          <p>Por: Adminitrador</p>
          <div class="container__title">
            <h3 (click)="redirectToPublication(publication.name)">{{publication.name}}</h3>
          </div>
          <hr>
        </div>
      </div>

      <div class="container__section">

        <h3>Publicaciones Recientes</h3>

        <div class="section__publication">
          <div class="section__img" *ngFor="let publication of publications | lastTen">
            <img [src]="publication.img" [alt]="publication.name">
            <h5 (click)="redirectToPublication(publication.name)"><strong>{{publication.name}}</strong></h5>
          </div>
        </div>
      </div>
    </section>

  </div>


</div>



