<div class="contenedor animate__animated animate__fadeIn">


  <div class="contenedor__general">

    <div class="general__banner">
      <h1><strong>Ultimas</strong> Publicaciones</h1>
    </div>

    <section>
      
      <div class="container__publication">
        <div class="publication__card">
          <div class="publication__img">
            <img src="../../../assets/img/angular.png"/>
          </div>

          <p>Por: Adminitrador</p>
          <div class="container__title">
            <h1>Titulo de la publicacion</h1>
          </div>
          <hr>
        </div>
      </div>

      <div class="container__section">

        <h3>Ultimas publicaciones</h3>

        <div class="section__publication">
          <div class="section__img">
            <img src="../../../assets/img/docker.png" alt="">
            <h5><strong>nombre de la publicacion</strong></h5>
          </div>
        </div>
        <div class="section__publication">
          <div class="section__img">
            <img src="../../../assets/img/docker.png" alt="">
            <h5><strong>nombre de la publicacion</strong></h5>
          </div>
        </div>
        <div class="section__publication">
          <div class="section__img">
            <img src="../../../assets/img/docker.png" alt="">
            <h5><strong>nombre de la publicacion</strong></h5>
          </div>
        </div>
        <div class="section__publication">
          <div class="section__img">
            <img src="../../../assets/img/docker.png" alt="">
            <h5><strong>nombre de la publicacion</strong></h5>
          </div>
        </div>
      </div>
    </section>

  </div>


</div>



