<div class="contenedor">

  <div class="contenedor__general">

      <div class="container__img animate__animated animate__backInLeft">
    <div class="img__imagen">
      <img [src]="project!.img" />
    </div>
  </div>

  <div class="container__descripcion">

    <div class="descripcion__info">
      <h1><strong>Descripcion</strong> del Proyecto</h1>

      <div class="info">

        <table>
          <tr>
              <th>Nombre del Proyecto</th>
              <td>{{project.name}}</td>
          </tr>
          <tr>
              <th>Tipo de Proyecto</th>
              <td>{{project.type}}</td>
          </tr>
          <tr>
              <th>Tecnologias Utilizadas</th>
              <td>{{project.technologies}}</td>
          </tr>
          <tr>
              <th>Descripcion</th>
              <td [innerHTML]="project.description | parrafoSplit "></td>
          </tr>
      </table>

        <a [href]="project.url" target="_blank">
          <button class="buttons__bottom">Visitar</button>
        </a>

      </div>
    </div>

  </div>
  </div>

</div>
