.contenedor{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aaa;
}

.contenedor__general{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  background: white;
  padding-top: 150px;
  padding-bottom: 150px;
}

.container__img{
  width: 45%;
  height: 70vh;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  left: 0;
}

.img__imagen{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
}

.img__imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.container__descripcion{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px
}

.descripcion__info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.descripcion__info h1{
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 2em;
  color: #000000;
}

.descripcion__info strong{
  color: #f98a5b;
}


.info{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.buttons__bottom{
  width: 12em;
  height: 40px;
  margin-right: 10px;
  font-size: 1em;
  background: white;
  border: 2px solid #f98a5b;
  border-radius: 30px;
  transition: all .5s;
  color: #f98a5b;
}

.buttons__bottom:hover{
  background: #f98a5b;
  border: 2px solid white;
  color: white;
}

.info table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  background-color: white;
}

th{
  width: 30%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}


@media (max-width: 1000px){

  .container{
    flex-direction: column;
    height: 100% !important;
    top: 180px;
  }

  .contenedor__general{
    flex-direction: column;
  }
  .container__img{
    width: 80%;
    height: 50vh;
    bottom: 300px;
    margin-top: 100px;
  }

  .container__descripcion{
    width: 80%;
    height: 50%;
    margin-bottom: 250px;
  }


  .descripcion__info h1{
    font-size: 1.2em;
  }

  .info h3{
    font-size: .7em;
  }

  .descripcion p{
    font-size: .7em;
  }


}
