<footer class="footer">
  <div class="footer__copyright">
    <p> Copyright {{year}} © <strong>APC</strong></p>
  </div>

  <div class="footer__icons">
    <span class="footer__icons__icon">
      <i class="fa-brands fa-docker icon"></i>
    </span>
    <span class="footer__icons__icon">
      <i class="icon fa-brands fa-github"></i>
    </span>
    <span class="footer__icons__icon">
      <i class="icon fa-brands fa-linkedin"></i>
    </span>
    <span class="footer__icons__icon">
      <i class="icon fa-brands fa-instagram"></i>
    </span>
    <span class="footer__icons__icon">
      <i class="icon fa-brands fa-x-twitter"></i>
    </span>
  </div>
</footer>

