<footer class="footer">
  <div class="footer__copyright">
    <p> Copyright {{year}} © <strong>APC</strong></p>
  </div>

  <div class="footer__icons">
    <a href="https://hub.docker.com/u/apc91" target="_blank" rel="noopener noreferrer">
      <span class="footer__icons__icon">
        <i class="fa-brands fa-docker icon"></i>
      </span>
    </a>

    <a href="https://github.com/APC9" target="_blank" rel="noopener noreferrer">
      <span class="footer__icons__icon">
        <i class="icon fa-brands fa-github"></i>
      </span>
    </a>

    <a href="https://www.linkedin.com/in/apc91/" target="_blank" rel="noopener noreferrer">
      <span class="footer__icons__icon">
        <i class="icon fa-brands fa-linkedin"></i>
      </span>
    </a>

    <a href="https://twitter.com/AlbertoPenacas1" target="_blank" rel="noopener noreferrer">
      <span class="footer__icons__icon">
        <i class="icon fa-brands fa-x-twitter"></i>
      </span>
    </a>

  </div>
</footer>

