<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="projects" routerLinkActive="active">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="publications" routerLinkActive="active">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-project/new" routerLinkActive="active">Crear-Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create-publication/new"  routerLinkActive="active">Crear_Publicacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/apc/inicio"  routerLinkActive="active">inicio</a>
        </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>


